#heading{background:#eeeeee; }
#abc{background:#eeeeee; }

#box{
    background:
    padding: 100px;
    width:500px;
    margin: 50px  auto;
}
.xyz{ 
    
    
}

body{
    background:white;
    margin: 100px auto;
}